* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100dvh;
	font-family: sans-serif;
	background-color: #7cffcb;
	background-image: linear-gradient(315deg, #7cffcb 0%, #74f2ce 74%);
}

h1 {
	text-align: center;
	margin: 1em 0 2em;
	color: #333;
	text-transform: uppercase;
}
.wrapper {
	padding: 2em;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
}

.box {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 900px;
	height: 200px;
	background-color: #eee;
	margin: 2em 0;
	padding: 1em;
	border-radius: 8px;
}

.present {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1em;
	font-size: 2.5rem;
	border-radius: 8px;
	background-color: #fff;
	border: 1px solid #000;
	transition: background-color 0.3s;
	cursor: grab;

	&:hover {
		background-color: #eee;
	}
	&.disabled {
		opacity: 0.3;
		cursor: not-allowed;
	}
}
a {
	text-decoration: none;
}
.send-btn {
	display: block;
	margin: 0 auto;
	padding: 1em 2em;
	font-size: 1.4rem;
	background-color: #7cffcb;
	cursor: pointer;
    border-radius: 8px;
    border: none;
    color: #000;

    &:disabled {
        background-color: #ddd;
        cursor: not-allowed;
    }
}
