* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--firstColor: #f9f9f9;
	--secondColor: #14161f;
	--border-color: rgba(0, 0, 0, 0.2);
}

body {
	min-height: 100vh;
	font-family: "Montserrat", sans-serif;
	color: var(--secondColor);
	background-color: var(--firstColor);
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
