* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--border-color: #33333355;
	--text-color: #000;
	--main-color: #fff;
	--btn-hover: #242222;
	--btn-txt-hover: #fff;
	--text-bigest: clamp(3rem, 7vw, 4rem);
	--text-big: clamp(1.8rem, 5vw, 2.4rem);
	--text-medium: clamp(1.5rem, 5vw, 2rem);
	--text-small: clamp(1rem, 3vw, 1.4rem);
}
body {
	font-family: "Montserrat", sans-serif;
	background-color: var(--main-color);
}
.wrapper {
	width: min(100%, 1300px);
	margin: 0 auto;
}

.title,
.text {
	text-align: center;
	font-weight: 300;
	color: var(--text-color);
}
.text {
	margin-block-start: 0.5em;
	font-size: var(--text-small);
}
.title {
	margin-block-start: 1em;
	font-size: var(--text-bigest);
	color: var(--text-color);
}
.manager {
	padding: 2em;
	&__title {
		margin: 0.5em 0;
		font-weight: 300;
		text-align: center;
		font-size: var(--text-big);
		text-transform: uppercase;
		color: var(--text-color);

		&--income,
		&--expenses {
			margin: 0 0 1em;
			font-weight: 700;
			font-size: var(--text-small);
		}
		&--income {
			color: #14d614ee;
		}
		&--expenses {
			color: #f70c0c;
		}
	}
	&__transactions,
	&__expenses,
	&__panel,
	&__controls,
	&__theme-panel {
		margin-block-start: 3em;
	}
	&__expenses,
	&__incomes,
	&__panel {
		padding: 1em;
		border: 1px solid var(--border-color);
	}
	&__incomes,
	&__expenses {
		width: 100%;
	}
	&__list {
		list-style: none;
		padding: 0.5em 0;
	}
	&__li {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1em 0;
		border-bottom: 1px solid var(--border-color);
		color: var(--text-color);

		i {
			flex-shrink: 0;
			margin-inline-end: 0.5em;
		}
	}
	&__delete-transaction {
		padding: 0.5em;
		margin-inline-start: 0.5em;
		border: none;
		background: none;
		cursor: pointer;
		color: var(--text-color);

		i {
			margin-inline-end: 0;
			pointer-events: none;
		}
	}
	&__panel {
		text-align: center;
	}
	&__summary-price {
		font-size: var(--text-bigest);
		font-weight: 600;
		color: var(--text-color);
	}
	&__controls {
		display: flex;
		flex-direction: column;
		gap: 1em;
	}
	&__btn {
		width: 100%;
		padding: 1em 2em;
		background: none;
		border: 1px solid var(--border-color);
		border-radius: 8px;
		font-family: inherit;
		cursor: pointer;
		color: var(--text-color);

		i {
			margin-inline-end: 0.5em;
		}
	}
	&__theme-btn {
		margin-inline: 0.5em;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		cursor: pointer;

		&--light {
			border: 1px solid var(--border-color);
			background-color: #fff;
		}
		&--dark {
			background-color: #000;
			border: 1px solid transparent;
		}
	}
}

.add-transaction-panel {
	display: none;
	opacity: 0;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: fixed;
	padding: 2em;
	inset: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to right, #4b79a1, #283e51);
	color: #fff;

	&.active {
		display: flex;
		animation: opacity 0.5s forwards;
	}

	&__title {
		font-size: var(--text-medium);
		margin-block-start: 2em;
	}
	.addnote {
		margin: 0.5em 0;
	}
	input,
	select {
		margin-block-start: 1em;
		padding: 1em;
		width: min(100%, 900px);
		border-radius: 8px;
		border: none;
	}
	&__controls {
		width: min(100%, 900px);
		display: flex;
		flex-direction: column;
		gap: 1em;
		margin-block-start: 2em;
	}
	.save,
	.cancel {
		width: 100%;
		padding: 1em 2em;
		border-radius: 8px;
		border: 1px solid #fff;
		background: none;
		color: #fff;
		font-family: inherit;
		cursor: pointer;

		i {
			margin-inline-end: 0.5em;
		}
	}
}

@media (576px <= width) {
	.manager {
		&__incomes,
		&__expenses,
		&__panel {
			padding: 2em;
		}
		&__controls {
			display: flex;
			flex-direction: row;
			gap: 1em;
		}
	}
	.add-transaction-panel {
		&__controls {
			flex-direction: row;
		}
	}
}
@media (768px <= width) {
	.manager {
		&__transactions {
			display: flex;
			gap: 1.5em;
			align-items: stretch;
		}
		&__expenses {
			margin: 0;
		}
		&__expenses,
		&__incomes {
			flex-grow: 1;
		}
		&__panel {
			margin-block-start: 1.5em;
		}
		&__delete-transaction {
			transition: opacity 0.3s, transform 0.3s 0.1s;

			&:hover {
				opacity: 0.8;
				transform: scale(0.98);
			}
		}
		&__btn {
			transition: background-color 0.3s, color 0.3s;

			&:hover {
				background-color: var(--btn-hover);
				color: var(--btn-txt-hover);
			}
		}
		&__theme-btn {
			transition: transform 0.3s;

			&:hover {
				transform: scale(0.95);
			}
		}
		&__li {
			font-size: 1.1rem;
		}
	}
	.add-transaction-panel {
		.save,
		.cancel {
			transition: background-color 0.3s, color 0.3s;

			&:hover {
				background-color: #fff;
				color: #000;
			}
		}
	}
}

@media (1100px <= width) {
	.wrapper {
		display: flex;
		gap: 1.5em;
	}
	.manager {
		&__content,
		&__panel {
			flex-grow: 1;
			width: 50%;
		}
		&__panel {
			width: 30%;
		}
		&__transactions {
			flex-direction: column;
		}
	}
}

@media (1200px <= width) {
	.wrapper {
		align-items: flex-start;
	}
	.manager {
		&__transactions {
			align-items: flex-start;
			flex-direction: row;
		}
	}
}

@keyframes opacity {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
