* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
:root {
	--firstColor: #f9f9f9;
	--secondColor: #14161f;
	--border-color: rgba(0, 0, 0, 0.2);
}
button,
input,
select {
	font-family: inherit;
}
body {
	min-height: 100vh;
	font-family: "Montserrat", sans-serif;
	color: var(--secondColor);
	background-color: var(--firstColor);
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-block-end: 40px;
	height: 220px;
}
header h1 {
	margin-block-end: 10px;
	font-size: 6.4rem;
	font-weight: 200;
}
header p {
	font-size: 2.4rem;
}

main {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
.title {
	margin-block-end: 30px;
	text-align: center;
	text-transform: uppercase;
	font-size: 3.6rem;
	font-weight: 200;
}
.transactions {
	width: 1000px;

	&__transaction-list {
		display: flex;
	}
	&__income-area,
	&__expenses-area {
		margin: 0 20px;
		padding: 30px;
		width: 50%;
		border: 1px solid var(--border-color);
	}
	&__transaction-amount,
	&__income-area h3 {
		color: rgb(19, 200, 108);
		font-weight: bold;
		font-size: 1.5rem;
	}
	h3 {
		margin-block-end: 30px;
		font-size: 2.8rem;
		text-align: center;
	}
	&__expenses-area,
	&__expenses-area .transactions__transaction-amount {
		color: rgb(255, 104, 104);
	}
	&__transaction {
		display: flex;
		justify-content: space-between;
		padding: 10px 0;
		border-bottom: 1px solid var(--border-color);

		&:last-child {
			border-bottom: none;
		}
	}
	&__transaction-name {
		font-size: 1.8rem;

		i {
			margin-inline-end: 10px;
		}
	}
	&__transaction-delete {
		margin-inline-start: 10px;
		background: none;
		border: none;
		font-size: 1.8rem;
		color: var(--secondColor);
		cursor: pointer;
		transition: transform 0.3s;

		&:hover {
			transform: scale(0.8);
		}
	}
}

.options {
	padding: 80px 40px;
	width: 500px;
	border: 1px solid var(--border-color);

	&__available-money {
		margin-block-start: -10px;
		text-align: center;
		font-size: 6rem;
	}
	&__controls {
		display: flex;
		justify-content: space-around;
		margin: 50px 0;

		button {
			padding: 12px 20px;
			color: var(--secondColor);
			border: 1px solid var(--border-color);
			border-radius: 5px;
			background: none;
			cursor: pointer;
			transition: background-color 0.3s, color 0.3s;

			&:hover {
				color: var(--firstColor);
				background-color: var(--secondColor);
			}
		}

		i {
			margin-inline-end: 10px;
		}
	}
	&__style-selection {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__color-buttons {
		button {
			margin: 0 30px;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			cursor: pointer;
			transition: transform 0.3s;

			&:hover {
				transform: scale(0.9);
			}
		}
	}

	&__light {
		background-color: #f9f9f9;
		border: 1px solid #14161f;
	}
	&__dark {
		background-color: #14161f;
		border: 1px solid #f9f9f9;
	}
}

.add-transaction-panel {
	position: fixed;
	inset: 0;
	display: none;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
	color: #fff;
	background-image: linear-gradient(315deg, #4c4177 0%, #2a5470 74%);

	&__title {
		margin-block-end: 0;
	}
	label {
		margin-block-start: 40px;
		margin-block-end: 5px;
		font-size: 2.6rem;
	}
	small {
		margin-block-end: 15px;
		font-style: italic;
		color: #ddd;
	}

	input,
	select {
		width: 800px;
	}
	input,
	select,
	button {
		padding: 10px 20px;
		border: 1px solid #000;
		border-radius: 5px;
	}
	input,
	select,
	option {
		font-size: 1.8rem;
	}

	&__buttons {
		display: flex;
		justify-content: center;
		margin-block-start: 30px;
		gap: 30px;
	}

	&__save,
	&__cancel {
		padding: 15px 40px;
		font-size: 1.8rem;
		color: #fff;
		border: 1px solid #fff;
		background: none;
		cursor: pointer;
		transition: background-color 0.3s;

		&:hover {
			background-color: rgb(25, 27, 51);
		}
	}
}
