* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100dvh;
	background-color: #333;
	font-family: "Montserrat", sans-serif;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: min(100%, 1200px);
	background-color: royalblue;

	&__items {
		display: flex;
		justify-content: center;
		align-items: center;
		list-style: none;

		a {
			display: inline-block;
			padding: 2em 1.5em;
			color: #fff;
			text-decoration: none;
			text-transform: uppercase;
			transition: color 0.3s, background-color 0.3s;

			&:hover {
				color: royalblue;
				background-color: #fff;
			}
		}
	}
	&__search-box {
		position: relative;
        align-self: stretch;
	}
	&__search-input {
		width: 300px;
		padding: 2em;
		background-color: #eee;
		border: none;
		color: #333;
		font-size: 1rem;
        transform: translateX(0) scaleX(0);
        transform-origin: right;
        transition: transform .3s;

        &.active {
            transform: translateX(-80px) scaleX(1);
        }
	}
	&__search-btn {
		position: absolute;
		top: 0;
		right: 0;
        height: 100%;
        width: 80px;
        border: none;
        background-color: #3651aa;
        cursor: pointer;
        color: #fff;
	}
}
